/commons-cli-1.2.jar
/commons-cli.LICENSE
/commons-lang-2.6.jar
/commons-lang.LICENSE
/hppc-0.5.3.jar
/hppc.LICENSE
/morfologik-fsa-1.9.0.jar
/morfologik-polish-1.9.0.jar
/morfologik-polish.LICENSE
/morfologik-stemming-1.9.0.jar
/morfologik-tools-1.9.0.jar
